x-bot: &bot
    build: ./app/bot
    restart: always
    depends_on:
      - web
      - db
      - redis
    volumes:
      - ./app/bot:/bot
    env_file:
      - .env
    environment:
      - BASE_API_URL=http://web:5000/api/v1/


services:
  web:
    build: 
      context: ./app/website
      dockerfile: Dockerfile
    container_name: server-prod
    restart: always
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.backend.rule=Host(`autoyarmarok.com`) && PathPrefix(`/api/v1/`)'
      - 'traefik.http.routers.backend.tls=true'
      - 'traefik.http.routers.backend.entrypoints=websecure'
      - 'traefik.http.routers.backend.tls.certresolver=letsencrypt'
      - 'traefik.http.services.backend.loadbalancer.server.port=5000'
      - 'traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https'
      - 'traefik.http.routers.backend.middlewares=sslheader'
    depends_on:
      - db
    ports:
      - "5000:5000"
    command: gunicorn main:"create_flask_app()" -b 0.0.0.0:5000 --reload
  frontend:
    build: 
      context: ./app/frontend
      dockerfile: Dockerfile.prod
    container_name: frontend-prod
    command: bash -c "npm run build && npm run start"
    depends_on:
      - web
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.frontend.rule=Host(`autoyarmarok.com`) && PathPrefix(`/`)'
      - 'traefik.http.routers.frontend.tls=true'
      - 'traefik.http.routers.frontend.entrypoints=websecure'
      - 'traefik.http.routers.frontend.tls.certresolver=letsencrypt'
      - 'traefik.http.services.frontend.loadbalancer.server.port=3000'
      - 'traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https'
      - 'traefik.http.routers.frontend.middlewares=sslheader'
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
  bot:
    <<: *bot
    container_name: bot-prod
  db:
    image: postgres:12
    restart: always
    volumes:
      - pg_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
  redis:
    image: redis:5.0.1
    container_name: redis
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_USER=${REDIS_USER}
      - REDIS_USER_PASSWORD=${REDIS_USER_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD}
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "$REDIS_PASSWORD", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    tty: true
    stdin_open: true
  celery_bot:
    <<: *bot
    container_name: worker-bot
    command: celery -A worker.celery_app:app worker --loglevel=info
  celery_beat:
    <<: *bot
    container_name: beat-bot
    command: celery -A worker.celery_app:app beat --loglevel=info
  traefik:
    image: traefik:v3.0
    container_name: traefik
    restart: unless-stopped
    command:
      - "--api.insecure=false"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.http.tls=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
      - "--certificatesresolvers.letsencrypt.acme.email=autoyarmarok@gmail.com"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - letsencrypt:/letsencrypt
volumes:
  pg_data:
  redis_data:
  letsencrypt:
