@font-face {
    font-family: 'icons';
    src: url('../assets/fonts/icons.woff2') format('woff2'),
        url('../assets/fonts/icons.woff') format('woff');
}

[className^="_icon-"],
[className*="_icon-"] {
    font-family: 'icons', serif !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._icon-arrow:before {
    content: "\e90d";
    color: #000;
}

._icon-close:before {
    content: "\e90e";
    color: #fff;
}

._icon-calendar:before {
    color: #ffff05;
    content: "\e900";
}

.info__item._icon-calendar:before {
    color: #01B851;
}

._icon-done:before {
    color: #01B851;
    content: "\e901";
}

._icon-filter:before {
    color: #ffff05;
    content: "\e902";
}

._icon-fwd:before {
    color: #01B851;
    content: "\e903";
}

._icon-location:before {
    color: #ffff05;
    content: "\e904";
}

._icon-mail:before {
    color: #ffff05;
    content: "\e905";
}

._icon-oil:before {
    color: #01B851;
    content: "\e906";
}

._icon-percent:before {
    content: "\e907";
}

._icon-phone:before {
    color: #ffff05;
    content: "\e908";
}

._icon-road:before {
    color: #01B851;
    content: "\e909";
}

._icon-sort:before {
    color: #ffff05;
    content: "\e90a";
}

._icon-time:before {
    color: #ffff05;
    content: "\e90b";
}

._icon-transmission:before {
    color: #01B851;
    content: "\e90c";
}