@font-face {
    font-family: 'Icons';
    src: url('../assets/fonts/icons.woff2') format('woff2'),
        url('../assets/fonts/icons.woff') format('woff');
}

._icon-correct:before {
    color: #01B851;
    font-family: 'Icons';
    content: "\e900";
}

._icon-next:before {
    font-family: 'Icons';
    content: "\e901";
}

._icon-mail:before {
    font-family: 'Icons';
    color: #FFFF05;
    content: "\e902";
}

._icon-phone:before {
    font-family: 'Icons';
    color: #FFFF05;
    content: "\e903";
}

._icon-cloak:before {
    font-family: 'Icons';
    color: #FFFF05;
    content: "\e904";
}

._icon-addres:before {
    font-family: 'Icons';
    color: #FFFF05;
    content: "\e905";
}

._icon-road:before {
    font-family: 'Icons';
    content: "\e906";
}

._icon-transmission:before {
    font-family: 'Icons';
    content: "\e907";
}

._icon-can:before {
    font-family: 'Icons';
    content: "\e908";
}

._icon-calendar:before {
    color: #FFFF05;
    font-family: 'Icons';
    content: "\e909";
}