@keyframes rollIn {
    0% {
        transform: translateX(0px);
    }

    20% {
        transform: translateX(-100%);
    }

    40% {
        opacity: 0;
    }

    60% {
        transform: translateX(100%);
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateX(0px);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    background-color: rgba(20, 20, 20, 1);
}

.main {
    max-width: 1920px;
    padding: 0 80px 20px;
    margin: 0 auto;
    color: #fff;
}

.promotion {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 5, 1);
    color: rgba(16, 16, 16, 1);
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    height: 28px;
    justify-content: center;
    align-items: center;
    
}
.promotion__text {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.promotion__image {
    height: 20px;
    line-height: 100%;
}
.header {
    margin-top: 53px;
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:599.99px){
    .promotion {
        display: none;
    }
    .header {
        margin-top: 20px;
    }
}


.header__logo {
    height: 100%;
}

.header__contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 120px;

    font-size: 18px;
}

@media (max-width: 1269.99px) {
    .header__contacts {
        gap: 60px;
    }
}

.contacts__menu {
    display: none; /*flex*/
    justify-content: space-between;
    align-items: flex-start;
    gap: 35px;
}

.menu__item.item-current {
    color: #FFFF05;
}

.contacts__phone {
    color: #FFFF05;
}

.contacts__social {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social__link {
    height: 29px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
}

@media (max-width: 1269.99px) {
    .content {
        flex-direction: column;

    }
}

.content__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    width: 702px;
}

@media (max-width: 1269.99px) {
    .content {
        align-items: center;
        gap: 40px;
    }
}

.text__body {
    font-size: 18px;
    width: 100%;
}

.text__image {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.text__title {
    width: 100%;
}

.title__head {
    font-size: 100px;
    line-height: 120%;
    letter-spacing: 5px;
    text-align: center;
}

.title__subtitle {
    position: relative;
    color: #FFFF05;
    font-size: 18px;
    display: flex;
    gap: 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width:767.99px) {
    .main {
        padding: 0 20px 20px;
    }
    .title__head {
        font-size: 68px;
        letter-spacing: 2.2px;
        font-weight: 500;
    }
    .title__subtitle {
        font-size: 14px;
        line-height: 120%;
    }
    .text__image img, .content__text-blur{
        display: none;
    }
    .text__body {
        font-size: 14px;
    }
    .content__text {
        gap: 20px;
        width: auto;
    }
    .content {
        width: auto;
        margin-top: 30px;
        gap: 15px;
    }

}

@media (max-width: 499.99px){
    .title__head {
        font-size: 40px;
    }
}

@media (max-width: 374.99px) {
    .title__subtitle {
        font-size: 12px;
    }
}

.title__subtitle::before, .title__subtitle::after {
    content: "";
    height: 2px;
    flex: 1 1 0;
    background-color: #FFFF05;
}

.content__text-blur {
    width: 566px;
    height: 204px;
    position: absolute;
    left: 68px;
    bottom: 77.91px;
    border-radius: 566px;
    background: #FFFF05;
    filter: blur(150px);
    z-index: -1000;
}

.content__goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 770px;
    gap: 36px;
    padding-top: 22px;
}

@media (max-width: 1691.99px) {
    .content__goods {
        flex-direction: column;
        align-items: flex-end;
        width: 366px;
    }
}

@media (max-width: 1269.99px) {
    .content__goods {
        width: 472px;
        padding-top: 0px;
    }
}

.goods__good {
    display: flex;
    width: 286px;
    padding: 48px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background: linear-gradient(270deg, rgba(255, 255, 5, 0.20) 0%, rgba(20, 20, 20, 0.20) 100%);
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.30);
}

@media (max-width: 1269.99px) {
    .goods__good {
        width: 392px;
        padding: 60px 40px;
    }
}

.good__title {
    display: flex;
    align-items: center;
    gap: 26px;
    font-weight: 500;
    line-height: normal;
}
.good__text {
    font-size: 14px;
}

@media (max-width: 1269.99px) {
    .good__text {
        font-size: 20px;
    }
}

@media (max-width: 499.99px) {
    .good__text {
        font-size: 14px;
    }
    .goods__good {
        width: 286px;
        padding: 48px 40px;
    }
    .content__goods {
        align-items: center;
        width: auto;
    }
    .header__contacts {
        gap: 10px;
        font-size: 14px;
    }
}
.title__number {
    font-size: 32px;
    position: relative;
}

.title__number::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFFF05;
}

.title__text {
    font-size: 24px;
}
